.wrap {
    flex-wrap: wrap;
}

.box {
    min-height: 250px;
    background-color: #FFC0CB;
    border: 1px solid black;
    padding: 15px;
}
span{
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-nested {
    display: flex;
    min-height: 250px;
    background-color: #F07F80;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
}